.controles{
    width: 50px;

}
@media only screen and (max-width : 720px) and (orientation:landscape) {

        #lateralDerecho{
            display: none;
          
        }
        #Principal{
            width: 20%;
               display: none;
        }
        #ContenedorVideo{
            width: 20%;
        }
        #Video{
            width: 50%;
        }
        #VideoPubli{
            width: 50%;
            height: 50%;
        }
        ul li{
            display: inline;
        
              
        }
        #Ocultar{
            width: 50%;
            height: 50%;  
        }
}
#Video{
    
    width: 100%;

}
#contador{
    color:white;
}
#Cerrar{
    position: absolute;
    right: 2;
    top: 2;
    background-color: white;
    
}
#barra{
    width: 100%;
    height: 5px;
}
#VideoPubli{
    width: 100%;
    height: 100%;
}

.QuitarAspa{
    display: none;
}
.quitarPubli{
    display: none;
}
.PonerAspa{
visibility: visible;
}
#lateralDerecho{
    position: absolute;
    right: 180;
    width: 20%;
    height: 130%;

}
ul li{
    display: inline;

    padding-left: 30px;

    
}

#Ocultar{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
   left: 0;
   

}
.ventana{
    position: absolute;
    top: 25%;
    left: 6%;
    font-size: 25px;
    text-align: center;
    color: red;
}
#Publicidad{
 
    position: absolute;
    top: 20%;
    left: 25%;
   width: 50%;
   height: 50%;
  
}
#VideoCaja{
background-color: black;
    border: 4px solid black;
    width: 96%;
    padding: 10px;
   


}
#Principal{
    position:relative;
 
}
#Video2,#Video3,#Video4,#Video5{
    width: 80%;
    padding-bottom: 10px;
    margin-top: 5px;
    padding-top: 10px;
    cursor: pointer;
    border: 4px solid white;
   
}
#Video2:hover,#Video3:hover,#Video4:hover,#Video5:hover{
    text-shadow: -1px -1px rgba(0,0,0,.2);
    border: 4px solid black;
    
    
}

#Botones{
    margin-left: -2%;

    
   
}
#Botones img{
    cursor: pointer;
}

#ContenedorVideo{
    background-color: orangered;
    border: 4px solid black;
    width: 668px;
    height:  460px;
    margin-left: 10%;
    margin-top: 10%;
    position: relative;
    
}